@model HelpDeskApp.Models.Ticket;

<form method="post" asp-action="Edit" class="d-flex justify-content-center">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div> <!-- popup for form validation -->

        <div class="form-group row">
            <h2 class="text-info pl-3">Add Ticket</h2>
            <p>Please fill out the form with the necessary info and we'll get back to you.</p>
        </div>

        <!--Start of inputs -->
        <div>
            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="Status"></label>
                    <div asp-form="Status">
                        <input asp-for="Status" readonly class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="Name"></label>
                    <div asp-form="Name">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="Email"></label>
                    <div asp-form="Email">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="Location"></label>
                    <div asp-form="Name">
                        <input asp-for="Location" class="form-control" />
                        <span asp-validation-for="Location" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="PhoneNumber"></label>
                    <div>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="form-group row py-3">
                <div class="col-6">
                    <label asp-for="Category"></label>
                    <div>
                        <select asp-for="Category">
                            <option value="Printer Issue">Printer Issue</option>
                            <option value="CPU Issue">Computer Issue</option>
                            <option value="Login Issue">Login Issue</option>
                            <option value="Software Issue">Software Issue</option>
                            <option value="DigitalRX Issue">DigitalRX Issue</option>
                            <option value="Phone Issue">Phone Issue</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    <label asp-for="Urgency"></label>
                    <div>
                        <select asp-for="Urgency">
                            <option value="1">1 (Not Urgent)</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5 (Most Urgent)</option>
                        </select>
                        <span asp-validation-for="Urgency" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="form-group row py-3">
                <div class="col-12">
                    <label asp-for="Description"></label>
                    <p>(The more information you provide, the better we can help)</p>
                    <div>
                        <textarea class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>

            </div>

            <div class="form-group row py-3">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" class="btn btn-info w-100 text-white" value="Edit" />
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-success w-100"><i class="fas fa-sign-out-alt"></i> Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
